.gap{
    margin-top: 50px;
}
.shadow{
    border: 1px solid lightgray;
    box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.3);
}
.project-button a{
    background-color: rgb(129, 15, 15);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    margin: 0px 5px;
    padding:12px 35px ;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

.project-button a:hover{
    color:#50d1c0;
    background:#fff;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.3);
}